{
  "name": "__PKG_NAME__",
  "version": "__VERSION__",
  "description": "The `ant` binary for __TARGET_DESC__. Installed automatically by @withautonomi/ant; not intended for direct use.",
  "homepage": "https://github.com/WithAutonomi/ant-client#readme",
  "bugs": {
    "url": "https://github.com/WithAutonomi/ant-client/issues"
  },
  "repository": {
    "type": "git",
    "url": "git+https://github.com/WithAutonomi/ant-client.git"
  },
  "license": "MIT OR Apache-2.0",
  "os": [__NPM_OS_LIST__],
  "cpu": [__NPM_CPU_LIST__],
  "files": [
    "bin/",
    "bootstrap_peers.toml",
    "README.md"
  ],
  "engines": {
    "node": ">=18"
  },
  "preferUnplugged": true
}
